@model kahveDiyarı.Models.hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h2>Hakkımızda Güncelle Sayfası</h2>
        @using (Html.BeginForm("Kaydet", "Hakkimizda", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <table class="table table-bordered">
                <tr>
                    <td>Foto</td>
                    <td>
                        <img src="~/Content/img/@Model.foto" width="250" />
                        @Html.TextBoxFor(m => m.fotoFile, new { type = "file" })
                    </td>
                </tr>
                <tr>
                    <td>Üst Başlık</td>
                    <td>
                        @Html.TextBoxFor(m => m.ustbaslik, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ustbaslik)
                    </td>
                </tr>
                <tr>
                    <td>Başlık</td>
                    <td>
                        @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.baslik)
                    </td>
                </tr>
                <tr>
                    <td>İçerik</td>
                    <td>
                        @Html.TextAreaFor(m => m.icerik, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.icerik)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.HiddenFor(m => m.foto)
                        @Html.HiddenFor(m => m.id)
                        <input type="submit" value="Güncelle" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@section altTaraf{
    <!-- Summernote -->
    <script src="~/Content/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/admin/plugins/summernote/summernote-bs4.css">
    <script>
        $(function () {
            // Summernote
            $('#icerik').summernote()
        })
    </script>
}

